body{
  background: -webkit-linear-gradient(left, #DCC7AA, #F4F7F6);
}
.emp-profile{
  padding: 3%;
  margin-top: 6%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.classroom_pic{
  width: 300px;
  height: 300px;
  background-size: cover;
  display:block;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  align-self: center;
  margin-left: 1%;
  margin-right: 4%;
}
.classroom_head{
  background-color: #625050;
  height: 340px;
  color: #b38600;

}
.media img{
  box-shadow: 0px 0pc 10px rgba(220,199,170,0.6);
}
.about_class{
  margin-top: 5%;
  /* text-align: center; */
}
.classroom_passcode{
  position: relative;
  top: 16%;
}
.about_class p{
  color: #001e80;
}
.container{
  position: relative;
  top: 3%;
  left: 4%;
}
.card img{
  height: 220px;
  width: 100%;
}
.classroom_body h5{
  padding-left:  45%;
  font-size: 200%;
  color: blue;
  background-color: gray;
  opacity: 0.5;
}
#invite_user{
  margin-top: 21%;
  margin-left: 25%;
  height: 12%;
  width: 49%;
  background-color: #805500;
}
#add_course_toclassroom{
  margin-left: 88%;
  margin-top: -4%;
}
.remove_course{
  margin-top: 17%;
  margin-bottom: 5%;
}
.alg_bo{
  margin-bottom: 9%;
}
.modal-ku {
  margin-top: 10%;
}
